@import "@fontsource/inter";
@import "@fontsource/raleway";
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --color-off-white: #F9F6EE;
    --color-darkish: #232121; 
    --color-orange: #DC4C42;
}
